{
  "development": {
    "NODE_ENV": "development",
    "PORT": 9000,
    "NAME_API": "API",
    "CORS_URL": "*",
    "PREFIX_API": "/api/v1.0",
    "PG_URI": "postgres://user:password@localhost:5432/cidenet",
    "PG_SSL": false,
    "PG_DATABASE": "cidenet",
    "EMAIL_DOMAIN": "cidenet.com.co",
    "RIJNDAEL_KEY": "cidenet",
    "SEED": "sdfgsdffgsf",
    "EXPIRES_IN": 15
  },
  "test": {
    "NODE_ENV": "test",
    "PORT": 9000,
    "NAME_API": "API",
    "CORS_URL": "*",
    "PREFIX_API": "/api/v1.0",
    "PG_URI": "postgres://user:password@localhost:5432/cidenet-test",
    "PG_SSL": false,
    "PG_DATABASE": "cidenet",
    "EMAIL_DOMAIN": "cidenet.com.co",
    "RIJNDAEL_KEY": "cidenet",
    "SEED": "sdfgsdffgsf",
    "EXPIRES_IN": 15
  },
  "production": {
    "NODE_ENV": "production",
    "PORT": 9000,
    "NAME_API": "API",
    "CORS_URL": "*",
    "PREFIX_API": "/api/v1.0",
    "PG_URI": "postgres://user:password@host:5432/dbname",
    "PG_SSL": false,
    "PG_DATABASE": "dbname",
    "EMAIL_DOMAIN": "cidenet.com.co",
    "RIJNDAEL_KEY": "cidenet",
    "SEED": "sdfgsdffgsf",
    "EXPIRES_IN": 15
  }
}
